---
import { Edit } from "lucide-react";
import CreateButton from "./CreateButton.astro";
import DeleteButton from "./DeleteButton.astro";

import EditButton from "./EditButton.astro";
export type Props = {
    title: string;
    desc: string;
    image: string;
}

const {title, desc} = Astro.props;


---


<div class="flex flex-col gap-3 border bg-white">
  
  <div class="w-80 p-5 h-60 shadow-md relative rounded-md border border-black">
    
    <div class="py-3 px-1">
      <p class="text-lg font-bold font-sans">{title}</p>
    </div>
      <div class="text-sm py-2 font-mono">
        {desc}
      </div>
      <div class="flex gap-3">
        <EditButton/>
        <DeleteButton/>
      </div>  
  </div>
</div>


    

      
      
      
      
    

    </div>
  </div>



