---
import Card from "./Card.astro";
import type {Props as CardProp} from "./Card.astro";
type Props = {
    cards: CardProp[];

};

const {cards} = Astro.props;
---

<div class="cards container mx-auto flex flex-row flex-wrap justify-center items-center gap-2 m-20">
    {cards.map((card) => <Card {...card}/>)}
</div>
