---

import logoRef from './public/arklogo3.svg';


const props = Astro.props; 



---


<nav class="bg-gray-800 p-2 flex items-center justify-between">
    <div>
        <ol class="flex gap-2 items-center text-white ">
            <li><a href="/dashborad"> Logo </a></li>
        </ol>
    </div>
    <div>
        <a href="#" class="text-white">
            Profile
        </a>
    </div>

</nav>