---
import ThemeToggle from '@/components/ThemeToggle.tsx';
---

<nav class="bg-white p-2 flex items-center justify-between border-b-2 border-zinc-200 drop-shadow-md">
    <div>
        <ul class="flex items-center text-black">
            <a href="/" class="font-bold text-xl font-mono">
                <div class="pl-5 pt-5 flex justify-center">
                    <img src="/arkgrouplogo.svg" alt="">
                </div>
                
            </a>
        </ul>
    </div>
    <div class="flex items-center justify-center">
        <h1 class="text-black text-4xl font-bold font-mono">News Management System</h1>
    </div>
    <div class="flex items-center gap-4"> <!-- Added flex container -->
        <div>
            <ThemeToggle client:load/>
        </div>
        <div>
            <a href="#" class="text-black font-bold font-mono">Profile</a>
        </div>
    </div>
</nav>
