---
import CreateButton from "@/components/CreateButton.astro";
const props = Astro.props; 


---

<aside class="bg-gray-700 p-4 h-screen box-shadow shadow-sm border-r-2 border-zinc-800 font-semibold">
   <ul class="text-white flex flex-col">
     <li class="flex items-center mb-4 px-4 py-2 hover:bg-gray-600 hover:rounded-lg hover:scale-110 transition-transform">
       <a href="/" class="flex items-center ">
         <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 24 24" {...props}>
            <path fill="currentColor" d="M13 9V3h8v6zM3 13V3h8v10zm10 8V11h8v10zM3 21v-6h8v6z"/>
         </svg>
         Dashboard
      </a>
     </li>
     <li class="flex items-center mb-4 px-4 py-2 hover:bg-gray-600 hover:rounded-lg hover:scale-110 transition-transform">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 24 24" {...props}>
         <path fill="currentColor" d="M15 14c-2.67 0-8 1.33-8 4v2h16v-2c0-2.67-5.33-4-8-4m-9-4V7H4v3H1v2h3v3h2v-3h3v-2m6 2a4 4 0 0 0 4-4a4 4 0 0 0-4-4a4 4 0 0 0-4 4a4 4 0 0 0 4 4"/>
      </svg>
       <a href="/register" class="text-white">Register</a>
     </li>
     <li class="flex items-center mb-4 px-4 py-2 hover:bg-gray-600 hover:rounded-lg hover:scale-110 transition-transform">
      
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 256 256" {...props}>
         <path fill="currentColor" d="m141.66 133.66l-40 40a8 8 0 0 1-11.32-11.32L116.69 136H24a8 8 0 0 1 0-16h92.69L90.34 93.66a8 8 0 0 1 11.32-11.32l40 40a8 8 0 0 1 0 11.32M192 32h-56a8 8 0 0 0 0 16h56v160h-56a8 8 0 0 0 0 16h56a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16"/>
      </svg>
      
       <a href="/signin" class="text-white">Login</a>
     </li>
   </ul>
   <hr class="border-t border-gray-300 my-4">
   <CreateButton/>

   <div class="py-10">
      <li class="flex items-center mb-4 px-4 py-2 hover:bg-gray-600 hover:rounded-lg hover:scale-110 transition-transform text-white">
         <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" viewBox="0 0 24 24 " {...props}>
            <path fill="currentColor" d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6q.425 0 .713.288T12 4q0 .425-.288.713T11 5H5v14h6q.425 0 .713.288T12 20q0 .425-.288.713T11 21zm12.175-8H10q-.425 0-.712-.288T9 12q0-.425.288-.712T10 11h7.175L15.3 9.125q-.275-.275-.275-.675t.275-.7q.275-.3.7-.313t.725.288L20.3 11.3q.3.3.3.7t-.3.7l-3.575 3.575q-.3.3-.712.288t-.713-.313q-.275-.3-.262-.712t.287-.688z"/>
         </svg>
         <form action="/api/auth/signout">
            <button class="text-white">Logout</button>
         </form>
         
      </li>

   </div>

 </aside>

 
 