---
import TableList from "@/components/TableList.astro";
import type { TableProps as TableProp } from "@/components/TableList.astro";

// Define the props type for the TablesMap component
type Props = {
    tables: TableProp[]; // Array of table objects, each containing data for a news article
};

// Destructure the tables prop from Astro.props
const { tables }: Props = Astro.props;
---

<div class="container mx-auto gap-6 p-6 z-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 ">
    {tables
        .sort((a, b) => new Date(a.date_published).getTime() - new Date(b.date_published).getTime())
        .map((table) => (
            <TableList tables={[table]} />
        ))}
</div>
