---
import Sidebar from "../components/Sidebar.astro";
import CreateButton from "../components/CreateButton.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Card from "../components/Card.astro";
import Cards from "../components/Cards.astro";
import DataTable from "../components/Datatable.astro"
import Nav from "../components/Navigation.astro";

interface Props {
	title: string;
}


const { title } = Astro.props;
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<div>
		<Nav/>
		<div class="flex">
			<Sidebar/>
			<main class="p-4 flex-1">
				<Card/>
			</main>
			<slot/>
		</div>
	</div>

</html>