---
import Sidebar from "../components/Sidebar.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Cards from "../components/Cards.astro";
import DataTable from "../components/Datatable.astro"
import Nav from "../components/Navigation.astro";
import ImageData from "/public/arkgroup.png"



interface Props {
	title: string;
	description: string;
}


const { title, description } = Astro.props;

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<div>
		<Nav/>
		<div class="flex">
			<Sidebar/>
			<main class="p-4 flex-1 bg-gray-200">
				<Cards 
				cards={[
					{
						title: "Unveiling of the new office",
						description: "This is a news header called with Astro.props",
					},
					{
						title: "A summary of my work history",
						description: "This is a news header called with Astro.props",

					},
					{
						title: "What I do beyond technology",
						description: "This is a news header called with Astro.props",
					},
	
				]}
				/>
			</main>
			<slot/>
		</div>
	</div>

</html>